.rsa1 {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.vhasd{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.options-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 2px;
}

.option {
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
}

.option:hover {
    color: yellow;
}

.content {
    text-align: center;
    margin-top: 20px;
}

.info {
    margin-top: 20px;
    font-size: 16px;
}

.info img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.eufi{
    width: auto;
    height: 30px;
    background-color: #333;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: white;
}